@model IEnumerable<GROUP_Q.Models.Product>

@{
    ViewBag.Title = "Index";
}
@if (User.IsInRole("Admin"))
{
    <h2 style="color: blue;">Product List</h2>

    <p>
        @Html.ActionLink("Create New", "Create", null, new { style = "color: blue;" })
    </p>
    <table class="table">
        <tr>
            <th style="color: black;">
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th style="color: black;">
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
            <th style="color: black;">
                @Html.DisplayNameFor(model => model.ProductPicture)
            </th>
            <th style="color: black;">
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td style="color: black;">
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td style="color: black;">
                    @Html.DisplayFor(modelItem => item.ProductPrice)
                </td>
                <td>
                    <img style="width:100px;height:100px;" src="data:image/png;base64,@item.ProductPicture" alt="ProductPicture" />
                </td>
                <td style="color: black;">
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { style = "color: blue;" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { style = "color: blue;" })
                </td>
            </tr>
        }
    </table>
}
else
{
    <!-- gallery section start -->
    <div class="gallery_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="gallery_taital text-center" style="color: blue;">Our best offers</h1>
                </div>
            </div>
            <div class="gallery_section_2">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-4">
                            <form action="/Products/AddToCart" method="post">
                                <input type="hidden" name="ProductId" value="@item.Id" />
                                <input type="hidden" name="Name" value="@item.ProductName" />
                                <input type="hidden" name="Picture" value="@item.ProductPicture" />
                                <input type="hidden" name="Price" value="@item.ProductPrice" />
                                <input type="hidden" name="Description" value="@item.Description" />
                                <div class="card">
                                    <div class="card-body" style="color: black;">
                                        <div class="gallery_box">
                                            <div class=""><img class="card-img-top" src="data:image/png;base64,@item.ProductPicture"></div>
                                            <h3 class="types_text" style="color: blue;">@item.ProductName</h3>
                                            <h3 class="types_text" style="color: blue;">@item.Description</h3>
                                            <p class="looking_text" style="color: black;">Price per item:  R @item.ProductPrice</p>
                                            <p class="looking_text" style="color: black;">Quantity available: @item.Quantity</p>
                                            <label for="Qty" style="color: black;">Select Qty: </label>
                                            <input type="number" class="form-control" name="Qty" placeholder="1" min="1" max="@item.Quantity" required />
                                            <br />
                                            <div class="read_bt"><button type="submit" class="btn btn-outline-dark col-12" style="color: blue;">Order Now</button></div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- gallery section end -->
}
