@model GROUP_Q.Models.DeliveryVan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DeliveryVan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumberPlate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberPlate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DriverSignature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DriverSignature)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusNum)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DeliveryVanId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
